Repository ksoda/rails-blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, rubocop

eslint:
  run: yarn eslint {staged_files} --fix && git add

rubocop:
  run: bundle exec rubocop --safe-auto-correct --force-exclusion {staged_files} && git add

turbolinks
  app/assets/config/manifest.js
  app/assets/stylesheets/application.css
  app/javascript/packs/application.css
  app/javascript/packs/application.js
  app/javascript/src/main.js
  app/views/layouts/application.html.erb
  package.json
  yarn.lock
Due: eslint

Tailwind
  app/javascript/packs/application.css
  app/javascript/src/main.js
  app/javascript/styles/application.scss
  app/views/layouts/application.html.erb
  config/application.rb
  package.json
  postcss.config.js
  tailwind.config.js
  yarn.lock
Due: eslint, rubocop

CSP
  .rubocop.yml
  config/initializers/content_security_policy.rb
Due: rubocop

development in container
  Dockerfile
  README.md
  config/database.yml
  db/schema.rb
  dip.yml
  docker-compose.yml
  lefthook.yml
Due: rubocop

use unsafe-inline in only development
  app/views/layouts/application.html.erb
  config/initializers/content_security_policy.rb
Due: rubocop

make non-GET requests from hyperlinks
  app/javascript/src/main.js
  package.json
  yarn.lock
Due: eslint

style pages
  app/views/articles/_form.html.erb
  app/views/articles/edit.html.erb
  app/views/articles/index.html.erb
  app/views/articles/new.html.erb
  app/views/articles/show.html.erb
Due: none

test: run system tests on pre-push
  config/environments/development.rb
  docker-compose.yml
  lefthook.yml
Due: rubocop

remove callback
  app/controllers/articles_controller.rb
Due: rubocop

move front end dir
  app/controllers/application_controller.rb
  config/webpack/environment.js
  config/webpacker.yml
  frontend/packs/application.js
  frontend/src/main.js
  frontend/styles/application.pcss
  tsconfig.json
Due: eslint, rubocop

eslint more
  .eslintrc.yml
  cypress/examples/assertions.spec.js
  cypress/examples/cypress_api.spec.js
  cypress/plugins/index.js
  package.json
  yarn.lock
Due: eslint

stylelint
  .eslintrc.yml
  .vscode/extensions.json
  lefthook.yml
  package.json
  yarn.lock
Due: none

format json
  lefthook.yml
Due: none

rename
  frontend/main/application.pcss
  frontend/main/index.js
  frontend/packs/application.js
Due: eslint

extract front-end files
  app/views/articles/show.html.erb
  frontend/packs/application.js
  frontend/pages/article/_index.html.erb
  frontend/pages/article/index.js
  frontend/pages/article/style.pcss
  package.json
  yarn.lock
Due: eslint

extract banner
  app/views/articles/index.html.erb
  app/views/articles/show.html.erb
  frontend/components/banner/_index.html.erb
Due: none

generate pages from the CLI
  lib/generators/page_generator.rb
Due: rubocop

use Alpine.js
  app/views/articles/index.html.erb
  app/views/articles/show.html.erb
  config/initializers/content_security_policy.rb
  frontend/components/banner/_index.html.erb
  frontend/main/index.js
Due: eslint, rubocop

remove Alpine.js
  app/views/articles/index.html.erb
  app/views/articles/show.html.erb
  babel.config.js
  config/initializers/content_security_policy.rb
  frontend/components/banner/_index.html.erb
  frontend/components/banner/index.js
  frontend/main/index.js
  frontend/packs/application.js
  package.json
  yarn.lock
Due: eslint, rubocop

pry tools
  Gemfile
  Gemfile.lock
  dip.yml
Due: rubocop

debug remotely
  .vscode/launch.json
  .vscode/settings.json
  Gemfile
  Gemfile.lock
  docker-compose.yml
  lefthook.yml
Due: rubocop

add commands for local
  README.md
Due: none

override compose settings
  .gitignore
Due: none

recommend ext
  .vscode/extensions.json
Due: none

:fire: cypress
  Gemfile
  Gemfile.lock
  Rakefile
  app/views/layouts/application.html.erb
  config/webpack/environment.js
  config/webpack/loaders/erb.js
  config/webpacker.yml
  cypress.json
  cypress/examples/actions.spec.js
  cypress/examples/aliasing.spec.js
  cypress/examples/assertions.spec.js
  cypress/examples/cypress_api.spec.js
  cypress/examples/location.spec.js
  cypress/examples/misc.spec.js
  cypress/examples/navigation.spec.js
  cypress/fixtures/example.json
  cypress/integration/articles.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  docker-compose.yml
  frontend/packs/hello_erb.js.erb
  lefthook.yml
  package.json
  tsconfig.json
  yarn.lock
Due: eslint, rubocop

remove deps
  docker-compose.yml
Due: none

remove erb components
  app/views/articles/show.html.erb
  app/views/layouts/application.html.erb
  frontend/components/banner/index.js
  frontend/packs/application.js
  frontend/packs/hello_erb.js.erb
  frontend/pages/article/_index.html.erb
  frontend/pages/article/index.js
  frontend/pages/article/style.pcss
  lib/generators/page_generator.rb
  package.json
  tsconfig.json
Due: eslint, rubocop

skip tsc
  package.json
Due: none

update gems
  .ruby-version
  Gemfile
  Gemfile.lock
  docker-compose.yml
Due: rubocop

enable new cops
  .rubocop.yml
  config/environments/production.rb
Due: rubocop

reinstall webpacker
  babel.config.js
  config/webpack/environment.js
  config/webpack/loaders/erb.js
  config/webpacker.yml
  frontend/main/application.scss
  frontend/main/index.js
  lefthook.yml
  package.json
  yarn.lock
Due: eslint

update gems
  Gemfile
  Gemfile.lock
  lefthook.yml
Due: rubocop

fix compatible issue
  Gemfile
  Gemfile.lock
Due: rubocop

ruby 3
  .ruby-version
  Gemfile
  Gemfile.lock
Due: rubocop

packwerk
  .ruby-version
  Gemfile
  Gemfile.lock
  bin/packwerk
  config/inflections.yml
  package.yml
  packwerk.yml
Due: rubocop

auto generated
  .gitattributes
Due: none

hello svelte
  config/webpack/environment.js
  config/webpack/loaders/svelte.js
  config/webpacker.yml
  frontend/app.svelte
  frontend/packs/application.js
  frontend/packs/hello_svelte.js
  package.json
  yarn.lock
Due: eslint

hello typescript
  babel.config.js
  config/webpacker.yml
  frontend/packs/application.js
  frontend/packs/hello_typescript.ts
  package.json
  tsconfig.json
  yarn.lock
Due: eslint

remove integration
  package.json
  yarn.lock
Due: none

Path conditions:
  eslint: any of: *.{js,ts}
  rubocop: any of: {Gemfile,*.rb}
